// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
   Reset all: 
   - Inherited properties to inherit value
   - Non-inherited properties to initial value
*/
* {
  all: unset;
}

body {
  font-family: lato, sans-serif;
}

// Override specific elements from above unset-ting
div {
  display: revert; /* = block */
}

span {
  display: revert; /* = inline */
}

table {
  display: revert; /* = table */
}

img {
  max-width: 100%;
}

// Base theme colors
$primary: #3973bb;
$seconday: #3fd865;
$error: #d8443f;
$info: #43c1b2;
$warning: #d8db2f;

h1 {
  color: $info;
}
