// Base theme colors
$primary: #3973bb;
$secondary: #676767;
$success: #3fd865;
$danger: #d8443f;
$info: #43c1b2;
$warning: #d8db2f;
$dark: #222;
$grey-lighter: #e0e0e0;

// Base font
$font-text: 'lato', sans-serif;

// Base Spacing
$base-padding: 0.7rem;
$base-margin: 0.7rem;

// Base borders
$base-border-width: 1px;
$base-border-radius: 12px;
