@use 'globalVariables';

// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
   Reset all: 
   - Inherited properties to inherit value
   - Non-inherited properties to initial value
*/
* {
  all: unset;
}

body {
  font-family: globalVariables.$font-text;
}

// Override specific elements from above unset-ting
div {
  display: revert; /* = block */
}

span {
  display: revert; /* = inline */
}

table {
  display: revert; /* = table */
}

img {
  max-width: 100%;
}

h1 {
  color: globalVariables.$primary;
  margin-bottom: globalVariables.$base-margin;
}

a {
  color: globalVariables.$success;
}

button {
  color: #fff;
  border: none;
  background-color: globalVariables.$primary;
  cursor: pointer;
  padding: globalVariables.$base-padding;
  border-radius: globalVariables.$base-border-radius;
}

.danger {
  color: globalVariables.$danger;
  border-color: globalVariables.$danger;
  border-style: solid;
  margin: globalVariables.$base-margin;
  padding: globalVariables.$base-padding;
  border-width: globalVariables.$base-border-width;
}

.notification {
  color: globalVariables.$secondary;
  border-color: globalVariables.$secondary;
  border-style: solid;
  margin: globalVariables.$base-margin;
  padding: globalVariables.$base-padding;
  border-width: globalVariables.$base-border-width;
}
